.blogBody{
    text-align: center;
    padding: 50px;
}

.selections{
    display: flex;
    padding: 50px; 
}

hr {
    height: 1px;
    width: fit-content;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.eventImage {
  width: 100%; 
  max-width: 60px; 
  height: auto;
}

.eventDetails {
    font-size: 1.2rem; 
  }
  
.bold {
    font-weight: bold;
  }

